.image-magnifier {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.image-magnifier img {
  max-width: 100%;
  max-height: 100%;
}

.magnifier-lens {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ddd;
  overflow: hidden;
  cursor: move;
  background: rgba(0, 0, 0, 0.75);
}

.magnifier-preview {
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 1px 1px #aaa;
  overflow: hidden;
  position: relative;
}

.magnifier-preview img {
  position: absolute;
}
