html, body {
  margin: 0;
  background-color: #2EE682;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.magnifier-preview {
  background-color: #333;
}
