html, body {
  margin: 0;
  background-color: #2EE682;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.magnifier-preview {
  margin: 0 30px;
  width: 350px;
  height: 300px;
  background-color: #333;
  box-shadow: 1px 1px 1px 1px #aaa;
}
