<div class="container">
  <div>
    <h2 style="text-align: center;" id="title">Image Magnifier</h2>

    <div>
      {{image-magnifier
        attachToLens=true
        previewerTargetOffset="0 20"
        src="images/animals-q-c-225-150-9.jpg"
        preview-src="images/animals-q-c-750-500-9.jpg"}}
    </div>

    <div>
      {{image-magnifier width=200
        previewerTargetOffset="0 20"
        src="images/nightlife-q-c-300-200-9.jpg"
        preview-src="images/nightlife-q-c-750-500-9.jpg"}}
    </div>

  </div>
</div>
