<h2 id="title">Image Magnifier</h2>

{{image-magnifier
  src="http://lorempixel.com/image_output/nightlife-q-c-150-150-8.jpg"
  preview-src="http://lorempixel.com/image_output/nightlife-q-c-500-500-8.jpg"}}
